/* Styles specific to IncomeInput component */
.income-input {
    margin-bottom: 20px;
  }
  
  .income-input h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .income-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .income-input input,
  .income-input select {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .income-input button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .income-input button:hover {
    background-color: #45a049;
  }

  .toggle-overtime-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }
  
  .toggle-overtime-button:hover {
    background-color: #45a049;
  }
  
  