.safe-to-spend {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .safe-to-spend h2 {
    font-size: 24px;
    color: #333;
  }
  
  .amount {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .safe-to-spend-label {
    font-weight: bold;
  }
  
  .safe-to-spend-amount {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
  
  .safe-to-spend-amount.green {
    color: #7ec850; /* Green */
  }
  
  .safe-to-spend-amount.green-light {
    color: #a8d08d; /* Light Green */
  }
  
  .safe-to-spend-amount.yellow {
    color: #f1c232; /* Yellow */
  }
  
  .safe-to-spend-amount.red {
    color: #e97451; /* Red */
  }
  
  .progress-container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0px;
  }
  
  .progress-bar {
    height: 100%;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .progress-bar.green {
    background-color: #7ec850; /* Green */
  }
  
  .progress-bar.green-light {
    background-color: #a8d08d; /* Light Green */
  }
  
  .progress-bar.yellow {
    background-color: #f1c232; /* Yellow */
  }
  
  .progress-bar.red {
    background-color: #e97451; /* Red */
  }
  
  p {
    font-size: 14px;
    color: #555;
    margin-top: 0px;
  }
  